*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.container {
	margin: 0 auto;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: lightgrey;
}

.card {
	margin: 2rem;
}

.code-value {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 5rem;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.5rem;
}

.card-name {
	text-align: center;
	padding-bottom: 0.3rem;
	font-size: 1.2rem;
}